In [4]:
import pandas as pd

In [5]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [6]:
df=next(df_iter)

In [36]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
from sqlalchemy import create_engine

In [10]:
# for this one I had to run pip install psycopg2-binary which the course didn't. If this becomes part of a pipeline, it'll have to be somewhere
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [39]:
df.head(0).to_sql('yellow_taxi_data', con=engine, if_exists='replace')

0

In [ ]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 7.37 s, sys: 24.6 ms, total: 7.4 s
Wall time: 12 s

1000

In [1]:
from time import time

In [11]:
while True: 
    t_start = time()

    try:
        df = next(df_iter)
    except StopIteration:
            print('Done!')
            break

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 9.659 second
inserted another chunk, took 9.576 second
inserted another chunk, took 9.589 second
inserted another chunk, took 9.843 second
inserted another chunk, took 9.686 second
inserted another chunk, took 8.898 second
inserted another chunk, took 8.891 second
inserted another chunk, took 8.894 second
inserted another chunk, took 8.954 second
inserted another chunk, took 8.875 second

/tmp/ipykernel_3158/151724093.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 8.906 second
inserted another chunk, took 5.567 second
Done!

In [43]:
rollback()

NameError: name 'rollback' is not defined